# Ignore the build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Ignore ROS and colcon build artifacts
install/
log/
.colcon/

# Ignore the build and lib dirs
build
lib/*
*.o
*.log
*.user
*.pri