# Ignore the build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Ignore ROS and colcon build artifacts
install/
log/
.colcon/

# Ignore the build and lib dirs
build
lib/*
*.o
*.log
*.user
*.pri

# Ignore vscode files
.vscode/

# ignore config.h file see example for how to set up config.h
config.h